<template>
  <ul>
    <li v-for="(note, index) in notes" :key="index">{{ note }}</li>
  </ul>
  <input type="text" v-model="title" @keypress.enter="save" />
  <p>Total Notes:{{ totalNotes }}</p>
</template>

<script>
import { useStore } from "vuex";
import { computed, ref } from "vue";
export default {
  setup() {
    //เรียกใช้งาน sotre index
    const store = useStore();
    //เข้าไปใช้งานตัวแปลแต่ละตัว
    const notes = computed(() => store.state.notes);
    const totalNotes = computed(() => store.getters.totalNotes);
    console.log("notes", totalNotes);
    const title = ref("");

    function save() {
      //   notes.value.push(title.value);
      // เรียกใชงาน action in store
      store.dispatch("saveNote", title.value);
      title.value = "";
    }
    return {
      notes,
      title,
      totalNotes,
      save,
    };
  },
};
</script>

<style></style>
